# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore build directories
/build
/dist

# Ignore environment files
.env

# Ignore macOS system files
.DS_Store

# Ignore IDE and editor files
.vscode/
.idea/
